REACT_APP_ADMIN_ADDRESS=0x23c3e41f2a3d1A3a0ac79cd1D8f0C720b356B1e4
REACT_APP_CONTRACT_ADDRESS=0xa718f1a058d47f179a35446261035393D1DFD69E
REACT_APP_PINATA_API_KEY=91e42174168a2581f306
REACT_APP_PINATA_API_SECRET=e72ad66bcad6aa65ef5676db705d6639018bea0124f75293bb5b19fe76cee585
REACT_APP_PINATA_GATEWAY=ivory-rare-chinchilla-854.mypinata.cloud
REACT_APP_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlOGVlYjZiNS1iYjQyLTRjMTctODkwZi1mOGY1NTYxYzFiMDUiLCJlbWFpbCI6ImdvdXJhdmt1bWFycGFuZGV5MjkyQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiI5MWU0MjE3NDE2OGEyNTgxZjMwNiIsInNjb3BlZEtleVNlY3JldCI6ImU3MmFkNjZiY2FkNmFhNjVlZjU2NzZkYjcwNWQ2NjM5MDE4YmVhMDEyNGY3NTI5M2JiNWIxOWZlNzZjZWU1ODUiLCJleHAiOjE3ODQzNjUyNjZ9.K75nsKtS_VfX5Mgpmr8z62sa6fLaHunhfsay7Q1HSwo
